.movie__card {
  color: #fff;
  padding: 0 !important;
}

.movie__card .card__container {
  background-color: #111;
  background-position: center;
  background-size: cover;
  border-radius: 0 !important;
  position: relative;
}

.movie__card .card__container .cstm__container {
  padding-top: 208px;
  padding-bottom: 100px;
  min-height: 600px;
  position: relative;
  z-index: 3;
}

.movie__card .card__container .flex__box {
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.movie__card .card__container .flex__box .flex__item {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 5px 5px 30px #000;
}

.movie__card .card__container .flex__box .flex__item .image__container {
  width: 100%;
}

.movie__card .card__container .flex__box .flex__item .image__container img {
  width: 100%;
  height: auto;
  transition: 500ms;
}

.movie__card .card__container .flex__box .flex__item .text__container a {
  text-decoration: none;
  color: #cc3142;
}

.movie__card .card__container .flex__box .flex__item .text__container h1 {
  font-size: 30px;
  font-weight: 400;
  color: #cc3142;
}

.movie__card .card__container .flex__box .flex__item .text__container div.co_btn a {
  color: #fff;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 50px;
  background-color: #cc3142;
  transition: 300ms;
  letter-spacing: 1.5px;
  line-height: 1;
}

.movie__card .card__container .flex__box .flex__item .text__container div.co_btn a:hover {
  background-color: #902330;
  transition: 300ms;
}

.movie__card .card__container .flex__box .flex__item .text__container div:not(:last-of-type) {
  margin-bottom: 20px;
}

.movie__card .card__container .flex__box .flex__item .text__container div:first-child {
  margin-bottom: 10px;
}

.movie__card .card__container .flex__box .flex__item .text__container div:last-child {
  margin-top: 30px;
}

.movie__card .card__container .flex__box .flex__item .text__container .ratings {
  display: flex;
  align-items: center;
}

.movie__card .card__container .flex__box .flex__item .text__container .ratings li {
  display: flex;
  align-items: center;
}

.movie__card .card__container .flex__box .flex__item .text__container .ratings li span {
  margin-right: 10px;
}

.movie__card .card__container .flex__box .flex__item .text__container .ratings li:not(:last-of-type) {
  margin-right: 30px;
}

.movie__card .card__container .flex__box .flex__item:first-child {
  width: 350px;
  z-index: 2;
}

.movie__card .card__container .flex__box .flex__item:last-child {
  z-index: 1;
  width: calc(100% - 350px);
  background-color: #0c1e2f;
  background: url("https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1536405223/starwars/item-4-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px;
  border-radius: 0 15px 15px 0;
}

.movie__card .card__container .flex__box .flex__item:hover .image__container img {
  transform: scale(1.1);
  transition: 500ms;
}

.movie__card .card__container .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.slick-next {
  right: 100px;
}

.slick-prev {
  left: 100px;
}

.slick-next, .slick-prev {
  z-index: 3;
}

.slick-next:before, .slick-prev:before {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.7);
  transition: 300ms;
}

.slick-next:hover:before, .slick-prev:hover:before {
  color: rgba(255, 255, 255, 0.9);
  transition: 300ms;
}

/*# sourceMappingURL=Home.css.map */