.flex__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 140px;
}
.movie__card {
  color: #fff;
  padding: 0 !important;
  .card__container {
    background-color: #111;
    background-position: center;
    background-size: cover;
    border-radius: 0 !important;
    position: relative;
    .cstm__container {
      padding-top: 100px;
      padding-bottom: 100px;
      min-height: 600px;
      position: relative;
      z-index: 3;
    }
    .title {
      h1 {
        font-weight: 300;
        margin-bottom: 30px;

      }
    }
    .flex__box {
      display: flex;
      align-items: center;
      max-width: 1000px;
      margin: 0 auto;
      position: relative;
      .flex__item {
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 5px 5px 30px #000;
        .image__container {
          width: 100%;
          img {
            width: 100%;
            height: auto;
            transition: 500ms;
          }
        }
        .text__container {
          a {
            text-decoration: none;
            color: #cc3142;
          }
          h1 {
            font-size: 30px;
            font-weight: 400;
            color: #cc3142;
          }
          div {
            &.co_btn {
              a {
                color: #fff;
                display: inline-block;
                padding: 15px 30px;
                border-radius: 50px;
                background-color: #cc3142;
                transition: 300ms;
                letter-spacing: 1.5px;
                line-height: 1;
                &:hover {
                  background-color: #902330;
                  transition: 300ms;
                }
              }
            }
            &:not(:last-of-type) {
              margin-bottom: 20px;
            }
            &:first-child {
              margin-bottom: 10px;
            }
            &:last-child {
              margin-top: 30px;
            }
          }
          .ratings {
            display: flex;
            align-items: center;
            li {
              display: flex;
              align-items: center;
              span {
                margin-right: 10px;
              }
              &:not(:last-of-type) {
                margin-right: 30px;
              }
            }
          }
        }
        &:first-child {
          width: 350px;
          z-index: 2;
        }
        &:last-child {
          z-index: 1;
          width: calc(100% - 350px);
          background-color: #0c1e2f;
          background: url('https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1536405223/starwars/item-4-bg.webp');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          padding: 50px;
          border-radius: 0 15px 15px 0 ;
        }
        &:hover {
          .image__container {
            img {
              transform: scale(1.1);
              transition: 500ms;
            }
          }
        }
      }
    }
    .overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,.5);
    }
  }
}

.slick-next {
  right: 100px;
}
.slick-prev {
  left: 100px;
}
.slick-next,.slick-prev {
  z-index: 3;
  &:before {
    font-size: 30px;
    color: rgba(277,277,277,.7);
    transition: 300ms;
  }
  &:hover {
    &:before {
      color: rgba(277,277,277,.9);
      transition: 300ms;
    }
  }
}

@media all and (max-width: 1300px) {
  .movie__card {
    .card__container {
      .flex__box {
        .flex__item {
          border-radius: 10px;
          .text__container {
            h1 {
              font-size: 28px;
            }
          }
          &:first-child {
            width: 350px;
          }
          &:last-child {
            width: calc(100% - 350px);
            padding: 50px;
            border-radius: 0 10px 10px 0 ;
          }
        }
      }
    }
  }
  .slick-next {
    right: 40px;
  }
  .slick-prev {
    left: 40px;
  }
}

@media all and (max-width: 1199px) {
  .movie__card {
    .card__container {
      .flex__box {
        .flex__item {
          &:first-child {
            width: 350px;
          }
          &:last-child {
            width: calc(100% - 350px);
            padding: 40px 30px;
            border-radius: 0 10px 10px 0 ;
          }
        }
      }
    }
  }
  .slick-next {
    right: 40px;
  }
  .slick-prev {
    left: 40px;
  }
}

@media all and (max-width: 999px) {
  .movie__card {
    .card__container {
      .flex__box {
        flex-wrap: wrap;
        box-shadow: 5px 5px 30px #000;
        .flex__item {
          &:first-child {
            width: 100%;
            box-shadow: none;
            border-radius: 10px 10px 0 0;
          }
          &:last-child {
            width: 100%;
            padding: 30px;
            border-radius: 0 0 10px 10px ;
            box-shadow: none;
          }
        }
      }
    }
  }
  .slick-next {
    right: 40px;
  }
  .slick-prev {
    left: 40px;
  }
}
